@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'DungGeunMo';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/DungGeunMo.woff2') format('woff2-variations');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dungGeunMo: var(--font-DungGeunMo), Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: DungGeunMo, Helvetica, sans-serif;
}
